.line{
    height: 2px;
    width: 100%;
    background-color: #0000001A;
    margin: 64px 0px;
}

.bottomline{
    height: 2px;
    width: 100%;
    background-color: #0000001A;
    margin-bottom: 20px;
}