.categoryfolderlineMain{
    @include flexBox(row,flex-start,);
    gap: 12px;
    p{
        @include satoshi-typography(400,16px,21.6px);
    }
}

.categoryLine{
    @include flexBox;
    gap: 6px;
    p{
        @include satoshi-typography(400,16px,21.6px);
        color: #00000099;
    }
}

.categoryFilter{
    @include flexBox(column,center,start)
}