.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    a{
        transition: 0.3s ease-in-out;
    }
    a:hover{
        background-color: rgba(128, 128, 128, 0.679);
    }
}