footer{
    background-color: #0d0d0d;
    margin-top: 50px;
   
  }
  .footerMain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
   
    
    
  }
  .footerName{
    color: #f1a40e;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: 25px;
    border-bottom:1px solid #f1a40e ;
    margin-bottom: 20px;
    margin-top: 30px;
  }
  
  .footerDescription{
    color: white;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: 15px;
    width: 700px;
  }
  
  .footerLogo{
    display: flex;
    gap: 30px;
    margin-bottom: 20px;
  
    justify-content: center;
    a{
      text-decoration: none;
    }
    i{
      color: white;
      /* border: 1px solid red; */
      width: 30px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      padding: 20px;
      transition: 0.3s;
      border-radius: 8px;
    }
  
    i:hover{
      background-color: white;
      color: black;
      border-radius: 8px;
    }
  }
  
  .bottom{
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: 15px;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid white;
    padding: 20px;
    background-color: #0d0d0d;
  }
  
  @media screen and (max-width:768px){
    .footerDescription{
      width: 440px;
    }
  }
  
  @media screen and (max-width:450px){
    .footerDescription{
      font-size: 10px;
      width: 300px;
    }
  }

  @media screen and (max-width:320px){
    .footerLogo{
      gap:10px
    }
    .bottom{
      font-size: 10px;
    }
    .footerName{
      font-size: 15px;
    }

    .footerDescription{
      width: 200px;
    }
  }