.nav{
    background-color: #0D0C0A;
    border-bottom: 1px solid white;
    position: sticky;
    top: 0px;
    z-index: 3;
}
html{
  scroll-behavior: smooth;
}
.navMain {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.navItems {
  display: flex;
  justify-content: space-between;
  /* border: 1px solid red; */
  align-items: center;
  width: 100%;
  padding: 16px;
}

.itemLeftSide {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 40px;
  a {
    text-decoration: none;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: white;
    transition: 0.3s;
  }
}

.itemRightSide {
  /* border: 1px solid green; */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 40px;
  a {
    text-decoration: none;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    line-height: 40px;
    color: white;
    transition: 0.3s;
  }
}

.item:hover{
  color: red;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid red; */
  background-color: white;
  border-radius: 8px;
  gap: 6px;
  p{
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    line-height: 40px;
    color: black;
  }
  .logoImg{
    width: 50px;
    height: 50px;
  }
}

.fa-bookmark{
    display: none;
}
.fa-bars{
    display: none;
}

@media screen and (max-width: 768px){
    .item{
        display: none;
    }

    .fa-bars{
        display: block;
        color: white;
    }

    .fa-bookmark{
        display: block;
        color: white;
    }
}

