.footerIconBar{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 3px;
    a{
        width: 30px;
        height: 30px;
        font-size:20px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid gray;
        color: gray;
        padding: 17px;
        border-radius: 50%;
        transition: all 0.3s ease-in-out;
    }
    a:hover{
        border: 1px solid white;
        color: white;
    }
}