.button{
    padding: 10px 15px;
    border-radius: 18px;
    border: none;
    font-weight: 600;
transition: 0.3s ease-in-out;
}
.button:hover{
background-color: gray;
color: white;
}
.buttonBar{
    display: flex;
    gap: 10px;
}