.about-card {
    padding: 3rem;
    background-color: rgba(23, 23, 23, 0.95);
    color: rgb(229, 229, 229);
    border-radius: 5px;
  }
  
  .about-title {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 2rem;
    color: white;
  }
  
  .about-content {
    display: grid;
    gap: 2rem;
    color: rgb(200, 200, 200);
    line-height: 1.8;
  }
  
  .about-content p {
    font-size: 1.1rem;
  }
  
  @media (max-width: 480px) {
    .about-card {
      width: 100%;
    }
  
    .about-content {
      line-height: 1.6;
    }
  }